# ignore input data
input_data/
# ignore csv directory
csv/
# ignore csv_files_nonuolume directory
csv_files_nonvolume/
processed_Input_data/
processed_datas/
processed_datas_column_name_problem/
processed_gold_update/
GOLD_FINAL_DATAS/
processed_input暫存/